.details-view{
    background-color: white;
    margin: auto;
    width: 80%;
    height: 80%;
    max-width: 1500px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 10;
}

.details-back{
    background: transparent;
    margin-left: 25px;
    margin-top: 10px;
}

.details-back:hover{
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}

.details-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    column-gap: 1rem;
}

.details-student-info{
    height: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    column-gap: 1.25rem;

    .details-student-image{
        width: 250px;
        height: auto;
    }
}

.details-student-description{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.details-student-technologies{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 10px;
}


.technology-item-box{
    max-height: 5rem;
}

.tech-details{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.tech-img{
    height: 85%;
    width: auto;

}