*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
	background-color: lightgray;
}

header{
	background-color: darkblue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem 2rem 0.5rem 2rem;
	align-items: center;
	margin: 0;
}

header h1{
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 2rem;
}

header .add_student_button{
	background-color: #0070BF;
	color: white;
	font-weight: bold;
	padding: 0.4rem;
	height: fit-content;
	text-align: center;
	border-radius: 7px;
	box-shadow: 0px 0px 10px 5px #0070BF;
	text-decoration: none;
}

header .add_student_button:hover{
	background-color: #0050B0;
}

.contenido{
	margin: auto;
	padding-inline: 4rem;
}

.content_title{
	padding-top: 1rem;
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

.main_content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 15px;
}

.student_card{
	width: 30rem;
	border-radius: 20px;
	background-color: white;
	padding-bottom: 5px;
	box-shadow: 5px 5px 9px black;
}

.student_card h1{
	font-size: 1.5rem;
}

.student_card h2{
	font-size: 1.35rem;
	color: #00A0ED;
}

.student_card .button-div{
	padding-top: 0.5rem;
}

.student_card .github-link{
	background-color: #00A0ED;
	padding: 0.4rem;
	margin-top: 0.3rem;
	margin-left: 0.4rem;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}

.student_card .github-link{
	text-decoration: none;
}

.student_card .student_text{
	padding: 0.5rem;
}

.student_card img{
	background-color: black;
	width: 100%;
	border-radius: 20px 20px 0 0;
}

content .div1 { grid-area: 1 / 1 / 2 / 2; }
content .div2 { grid-area: 1 / 2 / 2 / 3; }
content .div3 { grid-area: 1 / 3 / 2 / 4; }
